$background-color       :   #F8F8F8;  // 背景色
$white                  :   #FFFFFF;  // 白色
$primary-1              :   #E2F1FF;
$primary-2              :   #BADCFF;
$primary-3              :   #8EC7FF;
$primary-4              :   #5FB1FF;
$primary-5              :   #3BA0FF;
$primary-6              :   #1890FF;
$primary-7              :   #1E82F0;
$primary-8              :   #206FDC;
$primary-9              :   #205ECA;
$primary-10             :   #1E3EAB;